.main{
  margin-inline: auto;
  min-width: 1000px;
}

header{
  text-align: center;
}

main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 900px 1fr;
  padding-top: 10px;
}

.board {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid black;
  width: 800px;
  aspect-ratio: 1/1;
  position: relative;
  isolation: isolate;
}

.playerBoard {
  margin-inline: auto;
}

.box{
  border: 1px dashed grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  position: absolute;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 900;
  border: 5px solid;
  translate: 5px 5px;
}

.playerA {
  color: blue;
  z-index: 100;
}

.playerB {
  color: orangered;
  z-index: 90;
}

.ladder {
  position: absolute;
  width: 60px;
  height: calc(80px * 10 - 20px);
  translate: 5px 5px;
  border: 5px solid green;
}

.snake {
  position: absolute;
  width: 60px;
  height: calc(80px * 4 - 20px);
  translate: 5px 5px;
  border: 5px solid red;
  left: 20%;
}

.diceRoll {

}